.container {
  padding: 6px 20px;
  padding-bottom: 20px;
}

.title {
  color: #122945;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.87;
}

.datebox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input:last-child{
    padding-left: 5px;
}

.divider {
    color: #ADBFDF;
}

.calendar__button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.calendar__icon {
    color: #ADBFDF;
    width: 16px;
}

.calendar__button:hover .calendar__icon {
    color: var(--main-blue);
}