@import url('https://fonts.cdnfonts.com/css/sf-pro-display?styles=98773');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'SF Pro Display', sans-serif;
}

:root {
  --dark-blue: #091336; 
  --main-blue: #005FF8;
  --main-blue-hover: rgb(0, 95, 248, .6);
  --grey-hover: rgba(216, 228, 251, 0.32);
  --background-color: #F1F4F9;
  --red: #EA1A4F;
  --green: #28A879;
  --white: #FFFFFF;
  --yellow: #FFD500;
  --text-header: #899CB1;
  --progress-grey: #DEE6F5;
  --text-secondary: #5E7793;
}

.App {
  display: flex;
}